.Slider {
    position: relative;
}

.Slider-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0;
    overflow: hidden;
}

.Slider-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #FFF;
    background-color: rgba(45,113,143,0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    top: 45%;
}

.Slider-arrows:hover {
    background-color: rgba(45,113,143,0.9);
}

.Slider-arrows:focus {outline:0;}

.Slider-prev {
    position: absolute;
    left: 10px;
}
.Slider-next {
    position: absolute;
    right: 10px;
}